*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
._.DS_Store
._lt_config.sh
ffbuild/._.DS_Store
ffbuild/._libversion.sh
ffbuild/._pkgconfig_generate.sh
libavformat/._.DS_Store
libavformat/vocenc.o-f62a84e8
